/* Imported fonts from local files */
@font-face {
  font-family: 'Bree Serif';
  src: url(../fonts/Bree_Serif/BreeSerif-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  font-weight: 300 800;
}

@font-face {
  font-family: 'Caveat';
  src: url(../fonts/Caveat/Caveat-VariableFont_wght.ttf);
  font-weight: 400 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", Arial, sans-serif;
  /* <----- Custom Colors -----> */
  --main-theme-color: #f38122;
  --pg-main-color1: #F8F9FA;
  --pg-main-color2: #fff;
  --navbar-color: #cfcfcf;
  --footer-p-color: #ffffffa7;
  --button-hover-color: #e96300;
  --about-color: #a56027c8;
  --form-placeholder-color: #969696;
  --error-color: #e90000;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 30px 200px; */
  padding: 4vh 25vh;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 0.5s ease-in-out;
}


/* ------------------- Navigation Bar ------------------- */

.navbar-logo {
font-family: "Bree Serif", "Open Sans", Arial, sans-serif;
text-transform: none;
text-decoration: none;
color: #fff;
letter-spacing: 5px;
font-size: 22px;
font-weight: bold;
text-transform: uppercase;
transition: 0.3s;
}

.navbar-logo:hover {
  color: var(--main-theme-color)
}

.theme-accent-color {
  color: var(--main-theme-color) !important;
}

.navbar {
  display: flex;
}

.navbar a {
  position: relative;
  font-family: "Bree Serif", "Open Sans", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 550;
  text-decoration: none;
  margin-left: 40px;
  text-transform: uppercase;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width:  100%;
  background-color: var(--main-theme-color);
}

.navbar a.active, .icons a.active {
  color: var(--main-theme-color);
}

.navbar a.active::before {
  width:  100%;
  background-color: var(--main-theme-color);
}

.active {
  display: block;
}

.icons.hideit {
  visibility: hidden;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
  color: var(--navbar-color);
  transition: color 0.3s;
  font-size: 25px;
}

.material-symbols-outlined:hover {
  color: var(--main-theme-color);
}

.icons {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 2vh; 
}

.navbar-a {
  margin-left: 20px; 
  margin-right: 07px;
  text-decoration: none;
}


/* ------------------- Background Image and Related Buttons & Texts ------------------- */

.bg-container {
  height: 100vh;
  background-image: url('../images/bg_1.jpg');
}

.bg-container,
.m-bg-container {
  font-family: 'Bree Serif', serif;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.m-bg-container {
  height: 450px;
  background-image: url('../images/menu1.jpg');
  background-position: center 20%;
}

.bg-outer,
.m-bg-outer {
  z-index: 2;
}

.m-menu-text {
  position: absolute;
  font-size: 18px;
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #ffffffdd;
  text-transform: uppercase;
}

.m-menu-text h1 {
  text-align: center;
}

.breadcrumb {
  font-size: 12px;
  color: #ffffffbf;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.breadcrumb a {
  color: #ffffffbf;
  text-decoration: none;
  border-bottom: 2px solid rgba(243, 129, 34, 0.1);
}

.breadcrumb a:hover {
  color: var(--main-theme-color);
}

.intro-text {
  text-align: center;
}

.intro-text img {
  width: 40%; 
  height: auto; 
  max-width: 100%; 
  align-items: center;
}

.intro-btns {
  margin-top: 50px;
}

a.boxed-btn {
  background-color: var(--main-theme-color);
  padding: 10px 20px;
  margin-right: 20px;
}

a.bordered-btn {
  border: 2px solid var(--main-theme-color);
  padding: 9px 40px;
  margin-left: 20px;
}

a.boxed-btn, a.bordered-btn {
  display: inline-block;
  color: #fff;
  font-family: 'Bree Serif', serif;
  border-radius: 50px;
  width: 150px;
  height: 43px;
  line-height: 21px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a.boxed-btn:hover {
  background-color: #051922;
  color: var(--main-theme-color);
}

a.bordered-btn:hover {
  background-color: var(--main-theme-color);
  color: #fff;
}


/* ------------------- Color Div ------------------- */

.theme-accent-color {
  color: var(--main-theme-color) !important;
}

/* using this as a overlay over the images ( to make images darker ) */
.low-dark {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  border-radius: 5px;
  z-index: 1;
}

.main-color1 {
  position: relative;
  background: var(--pg-main-color1);
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 2;
}

.main-color1 p {
  color: #868e96;
  text-align: center;
}

.main-color2 {
  position: relative;
  background-color: var(--pg-main-color2);
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 2;
}


/* ------------------- Titles related stuff ------------------- */

.heading-wrap h2 {
  padding-top: 20px;
}

.heading-wrap p {
  line-height: 2;
}

.heading-wrap p:nth-child(2) {
  margin-top: 3vh;
}

.heading-wrap {
  position: relative;
  padding-top: 10px;
}

.heading-wrap h2:before {
  width: 80px;
  height: 2px;
  background: var(--main-theme-color);
  content: "";
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.block-title {
  font-family: "Bree Serif", serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.mini-title {
  font-family: "Caveat", "Open Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.micro-title {
  font-family: "Caveat", "Open Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-top: 20px;
  padding-left: 80px;
}


/* ------------------- Offers ------------------- */

.offer-cards {
  display: flex;
  justify-content: center;
  gap: 8%;
}

.offer-card {
  position: relative;
  flex: 0 0 20%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.offer-card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  filter: sepia(30%);
}

.offer-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  transform: scale(100.5%);
}

.offer-details {
  text-align: center;
}

.details-btn {
  background-color: var(--main-theme-color);
  color: #fff;
  padding: 0.7rem 1rem;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-btn:hover {
  background-color: var(--button-hover-color);
}

.o-product-name {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  color:#000;
}

.o-original-price {
  text-decoration: line-through;
  margin: 1px 0;
  color: #868e96;
}

.o-discounted-price {
  font-size: 20px;
  color: var(--main-theme-color);
  font-weight: 700;
}


/* ------------------- Product Menu (menu.html) ------------------- */

.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5em;
}

.product {
  overflow: hidden;
  background: #ffffff;
  color: #21201e;
  text-align: center;
  width: 300px;
  height: 470px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
  transition: all 0.2s ease;
}

.products h2 {
  font-family: "Caveat", "Open Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.search-form {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-form button {
    padding: 8px 15px;
    background-color: var(--main-theme-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: var(--button-hover-color);
}

.product .product-title,
.product .product-price {
  font-size: 18px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  overflow: hidden;
}

.product:hover {
  box-shadow: 5px 15px 25px #eeeeee;
  transform: scale(102%);
}

.product img {
  height: 200px;
  margin: 1rem;
  transition: all 0.3s;
}

.product img:hover {
  transform: scale(102%);
}

.product-btn {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-theme-color);
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: auto;
  font-size: 14px;
  transition: all 0.2s;
  border: none;
}

.product-btn:link,
.product-btn:visited {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-theme-color);
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: auto;
  font-size: 14px;
  transition: all 0.2s;
}

.product-btn:hover {
  transform: scale(103%);
}


/* ------------------- Images with Buttons for Menu & Reservation (ImageSides) ------------------- */

#imagesides {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.imagesides-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.imagesides-column {
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s;
}

.imagesides-column:hover {
  transform: scale(100.5%);
}

.imagesides-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(0.8) grayscale(0.09) sepia(0.1) contrast(0.8);
}

.imagesides-content {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px;
    color: #fff;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.imagesides-content h2 {
  font-family: 'Bree Serif', serif;
    font-size: 24px;
    margin-bottom: 40px;
}

.imagesides-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #e2e2e2;
}

.imagesides-btn {
  font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 15px 20px;
    margin-top:80px;
    background-color: #f3802200;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    transition: background-color 0.3s;
}

.imagesides-column:first-child .imagesides-content {
    text-align: left;
    left: 45%;
}

.imagesides-column:last-child .imagesides-content { 
  text-align: right;
  left: 55%;
}

.imagesides-column:first-child .imagesides-content p {
  text-align: left;
}

.imagesides-column:last-child .imagesides-content p {
  text-align: right;
}

.imagesides-btn:hover {
    background-color: var(--main-theme-color);
    border: 2px solid #ffffff00;
}


/* ------------------- Gallery ------------------- */

.gallery-grid-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 30px;
}

.gallery-grid-wrapper img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.gallery-grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.gallery-grid-img {
  transition: transform ease-in 0.1s;
}

.gallery-grid-img:hover {
  transform: scale(101%)
}


/* ------------------- Featured Feedbacks ------------------- */

.swiper-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  
}

#featuredfeedbacks {
  overflow: hidden;
}

.swiper-slide {
  display: flex;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
}

.feedback-card {
  text-align: center;
  padding: 5vh;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.swiper-button-next, .swiper-button-prev {
  color: #888;
}

.swiper-pagination-bullet {
  background-color: #ddd;
}

.swiper-pagination-bullet-active {
  background-color: #888;
}

.feedback-cards {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .feedback-card {
  display: block;
}

.feedback-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.feedback-navigation label {
  background-color: #ddd;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

input[type="radio"]:checked + .feedback-navigation label {
  background-color: #888;
}

.feedback-navigation label:hover {
  background-color: rgb(144, 144, 144);
}

.feedback-author {
  font-size: 1.2em;
  margin-bottom: 2px;
  margin-top: 5px;
}

.feedback-text {
  width: 80%;
  margin: 30px auto auto auto;
  word-wrap: break-word;
}


/* ------------------- Feedback Form ------------------- */

.feedback-form-container {
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#feedbackform {
  display: flex;
  flex-direction: column;
}

.fform-row {
  display: flex;
  justify-content: space-between;
}

.fform-field {
  margin-bottom: 20px;
  width: 45%;
}

.fform-field input {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  border: 1px solid #c1c1c1;
  outline: none;
  background-color: transparent;
}

.fform-row textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border: 1px solid #c1c1c1;
  background-color: transparent;
  padding: 10px 12px;
  resize: none;
  outline: none;
  font-family: "Open Sans", Arial, sans-serif;
}

.fform-button {
  background-color: transparent;
  line-height: 48px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.598);
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.fform-button > span {
  width: 8px;
  height: 8px;
  background-color: var(--main-theme-color);
  display: inline-block;
  border-radius: 50%;
}

.fform-button:hover {
  color: var(--main-theme-color);
}


/* ------------------- Footer ------------------- */

#site-footer {
  background-color: #262626;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 8px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.footer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2vh;
  margin-right: 2vh;
}

.footer-column {
  width: 23%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 10vh;
  padding-right: 10vh;
}


.footer-column h4 {
  font-family: 'Bree Serif', serif;
  font-size: 1em;
  margin-bottom: 10px;
  color: var(--main-theme-color);
}

.footer-column p,
.footer-column ul {
  font-size: 0.9em;
  color: var(--footer-p-color);
  line-height: 1.5;
}

.footer-column p:nth-child(3),
.footer-column p:nth-child(5) {
  font-size: 0.8em;
  color: var(--footer-p-color);
  filter: brightness(90%);
  margin-top: -5px;
  line-height: 2.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: var(--footer-p-color);
  position: relative;
}

.footer-links a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--footer-p-color);
  transition: 0.3s;
}

.footer-links a:hover::before {
  width: 100%;
  background-color: var(--main-theme-color);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  border-top: 0.5px solid #ffffff2a;
}

.footer-bottom p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: var(--footer-p-color)
}

#site-footer a:hover {
  color: var(--pg-main-color2);
  transition: color 0.2s;
}


/* ------------------- About (about.html) ------------------- */

#about p {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto 1rem;
  line-height: 1.5;
  color: var(--about-color);
  font-family: "Open Sans", Arial, sans-serif;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
}

.statistics-container {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  margin: 0 auto;
}

.statistic {
  text-align: center;
}

.statistic-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-theme-color);
}

.statistic-text {
  font-size: 14px;
  color: #707070ca;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
}


/* ------------------- Contact Info (contact.html) ------------------- */

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 120vh;
  margin: 0 auto;
}

.contact-form-container h2{
  /* max-width: 800px; */
  padding-bottom: 3vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-info-container {
  max-width: 400px;
  background-color: var(--pg-main-color1);
  padding: 30px 45px;
}

.contact-info, .opening-hours {
  margin-bottom: 20px;
}

.contact-info h3, .opening-hours h3 {
  color: rgb(0, 0, 0);
  background-color: var(--pg-main-color1);
  padding: 10px 0;
}

.contact-info p, .opening-hours p {
  margin: 5px 0;
  color: #000000;
  font-size: 17px;
}

.cform-field {
  margin-bottom: 20px;
  width: 70vh;
}

.cform-field input,
.cform-field textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  padding-left: 0;
  border: none;
}

.cform-field input {
  border-bottom: 1px solid #c1c1c1;
}

.cform-field textarea {
  height: 70px;
  resize: none;
  font-family: "Open Sans", Arial, sans-serif;
}

.cform-button {
  background-color: transparent;
  line-height: 48px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.598);
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.cform-button > span {
  width: 8px;
  height: 8px;
  background-color: var(--main-theme-color);
  display: inline-block;
  border-radius: 50%;
}

.cform-button:hover {
  color: var(--main-theme-color);
}

.icon-title-container {
    display: flex;
    align-items: center;
}

.opening-hours {
    display: flex;
    flex-direction: column;
}

.opening-hours h3,
.opening-hours p {
    margin: 5px 0;
    color: #000000;
}

.c-info-icon1,
.c-info-icon2 {
    width: 1.2em;
    height: 1.2em;
    fill: rgba(0, 0, 0, 0.598);
    margin-right: 10px;
}

.c-info-text {
  padding-left: 2em;
}

.cform-field input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;
}


/* ------------------- Reservation Form (reservations.html) ------------------- */

.reservation-form-container {
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.reservation-form-container h2 {
  font-family: 'Bree Serif', serif;
  padding-bottom: 3vh;
  text-transform: uppercase;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.rform-row {
  display: flex;
  justify-content: space-between;
}

.rform-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 45%;
}

.rform-field input,
.rform-field select {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  border: 1px solid #c1c1c1;
  outline: none;
  background-color: transparent;
}

.rform-field input[type="date"],
.rform-field input[type="time"] {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  outline: none;
  background-color: transparent;
}

.rform-field span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.rform-row textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border: 1px solid #c1c1c1;
  background-color: transparent;
  padding: 10px 12px;
  resize: none;
  outline: none;
  font-family: "Open Sans", Arial, sans-serif;
}

.rform-button {
  background-color: transparent;
  line-height: 48px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.598);
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.rform-button > span {
  width: 8px;
  height: 8px;
  background-color: var(--main-theme-color);
  display: inline-block;
  border-radius: 50%;
}

.rform-button:hover {
  color: var(--main-theme-color);
}

.reservation-description {
  padding-top: 25px;
}

.reservation-description p {
  font-size: 0.9em;
  text-align: left;
}


/* ---------------------------------------------------- */

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(32, 19, 4, 0.8),rgba(40, 23, 0, 0.8)), url(../images/bg_1.jpg);
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  padding: 50px 60px 70px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: var(--main-theme-color);
  position: relative;
}

.form-box h1::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--main-theme-color);
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input-field input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 15px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #999;
  font-size: 20px;
  font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}

.form-box button {
  width: 100%;
  background-color: var(--main-theme-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}


.form-box button:hover {
  background-color: var(--button-hover-color);
}

.form-box p {
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
}

.form-box a {
  color: #3c00a0;
  text-decoration: none;
}

#signup-box {
  display: none;
}

.form-box .l-option {
  text-align: center;
}

#signup-btn,
#signin-btn {
  color: #3c00a0;
  text-decoration: underline;
  cursor: pointer;
  margin: 10px;
}

#signup-btn:hover,
#signin-btn:hover {
  color: #2a0066;
}

.input-field .material-symbols-outlined:hover {
 color: #878787;
}

.form-box .loginerror {
  color: var(--error-color);
  text-align: center;
}

/* ------------ Popup Cart ------------- */

.cart-container {
  display: none;
  position: absolute;
  top: 140%;
  right: -5px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  padding: 25px;
  border-radius: 0 0 7px 7px;
  border-top: 3px solid var(--main-theme-color);
}

#shopping-icon {
  position: relative;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.cart-content {
  padding: 20px 0;
}

.cart-content h4,
.cart-container p {
  color: black;
  text-align: left;
  padding-bottom: 10px;
}

.cart-container h4 {
  font-size: 15px;
}

.cart-container p {
  font-size: 13.5px;
  color: #333E48;
}

.price-currency {
  font-size: 12px;
}

.product-price {
  font-weight: 500;
}

.cart-item {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}

#checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#checkout-btn:hover {
  background-color: #555;
}

.popup-cart-btn {
  display:inline;
  padding: 14px 20px;
  background-color: #efecec;
  color: #333E48;
  text-align: center;
  font-size: 13px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  transition: 0.3s;
}

.popup-checkout-btn {
  display:inline;
  padding: 14px 20px;
  background-color: var(--main-theme-color);
  color: white;
  text-align: center;
  font-size: 13px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  transition: 0.3s;
}

.popup-cart-btn:hover,
.popup-checkout-btn:hover {
  background-color: #000;
  transition: 0.3s;
}

.popup-cart-btn:hover {
  color: white;
}

.popup-cart-remove-btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  color: #A7A7A7;
  padding: 0;
  font-size: 25px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.popup-cart-remove-btn:hover {
  color: #DC3545;
}

.popup-cart-empty {
  text-align: center !important;
  font-size: 13.8px !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #ccc;
  color: #666;
}



/* -------------- Checkout -------------- */

.checkout-container {
  width: 85%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
}

.billing-information,
.your-order {
  
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.checkout-container h2 {
  color: var(--main-theme-color);
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.checkout-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.checkout-container input,
.checkout-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout-container textarea {
  resize: vertical;
}

.checkout-container button {
  background-color: var(--main-theme-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.your-order {
  text-align: right;
  width: 45%;
}

.order-details {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-label {
  font-weight: bold;
}

#subtotal,
#total {
  color: var(--main-theme-color);
  font-weight: bold;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-group p {
  color: #868e96;
  font-size: 0.9em;
}

/* -------------- Cart Page -------------- */

.container2 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2 rem;
  width: 80%;
  overflow: hidden;
}

.container2 p {
  text-align: left !important;
}

.cart-page {
  display: flex;
  justify-content: space-evenly;
}

.cart-page-header {
  margin-bottom: 40px;
}

.cart-page-header h1 {
  font-family: "Bree Serif", serif;
  margin-bottom: 20px;
}

.cart-page-header p {
  text-align: left !important;
  font-family: "Bree Serif", serif;
  color: #000;
}

.cart-page-header p:first-of-type {
  font-family: "Bree Serif", serif;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.cart-page-left {
  width: 65%;
}

.cart-page-right {
  margin-left: 5%;
  width:35%;
}

.cart-page-item {
  display: flex;
  border: 1px solid #767677;
  margin-bottom: 40px;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.cart-page-item-image {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  position: relative;
  display: block;
}

.cart-page-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 1.5% 2% 3%;
  overflow: hidden;
}

.cart-page-item-details p {
  text-align: left !important;
}

.cart-page-item-details-top {
  display: flex;
  justify-content: space-between;
}

.cart-page-item-title {
  align-items: left;
}

.cart-page-item-title p {
  margin-bottom: 7px;
  font-size: 17px;
  font-family: "Bree Serif", serif;
  font-weight: lighter;
  color: #000;
}

.cart-page-item-title p:nth-child(2) {
  margin-bottom: 17px;
}

.cart-page-item-remove button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.cart-page-item-remove button svg {
  width: 44px;
  height: 24px;
  fill: #000;
}

.cart-page-item-remove button:hover svg {
  fill: #333;
  transform: scale(1.1);
}

.cart-page .cart-page-item-description {
  font-size: 16px;
  font-family: "Bree Serif", serif;
  color: #0a0a0a;
  margin: 5px 0;
  text-align: left !important;
}

.cart-page-item-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-page-item-quantity {
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.custom-dropdown {
  position: relative;
  width: 150px;
  display: inline-block;
}

.custom-dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000;
  font-size: 14px;
}

.custom-dropdown .select2-container--custom-select2 .select2-selection--single {
  height: 60px;
  border: 1px solid #767677;
  font-family: "Bree Serif", serif;
  font-size: 18px;
  color: #000;
  padding: 15px;
}

.select2-container--custom-select2 .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.select2-container--custom-select2 .select2-results__options {
  border: 1px solid #767677;
  font-family: "Bree Serif", serif;
}

.select2-container--custom-select2 .select2-results__option {
  padding: 15px 15px 15px 20px  ;
  border-bottom: 1px solid #767677;
  transition: background-color 0.3s ease;
}

.select2-container--custom-select2 .select2-results__option:last-child {
  border-bottom: none;
}

.select2-container--custom-select2 .select2-results__option--highlighted {
  background-color: #f3f3f3;
  color: #000;
}

.select2-container--custom-select2 .select2-results__option--selected {
  color: #000;
  font-weight: bold;
}

.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-results__options::-webkit-scrollbar {
  width: 8px;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #767677;
}

.select2-results__options::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

.cart-page-checkout-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: black;
  width: 100%;
  padding: 15px 50px 15px 20px;
  border: 2px solid black;
  transition: all 0.3s ease;
  text-align: left;
  margin-bottom: 60px;
}

.cart-page-checkout-btn button {
  font-size: 0.9rem;
  font-family: "Bree Serif", serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cart-page-checkout-btn .checkout-arrow {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  transition: all 0.3s ease;
  line-height: 1;
}

.cart-page-checkout-btn:hover {
  background-color: white;
}

.cart-page-checkout-btn:hover button {
  color: black;
}

.cart-page-checkout-btn:hover .checkout-arrow {
  color: black;
  right: 25px;
}

.cart-page-order-summary {
  font-family: "Bree Serif", serif;
  margin-bottom: 70px;
}

.cart-page-order-summary h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.cart-page-order-summary p {
  margin-bottom: 6px;
  font-size: 15px;
  color: #000;
}

.cart-page-order-summary > p:last-of-type {
  margin-top: 20px;
}

.cart-page-row-spacebetween {
  display: flex;
  justify-content: space-between;
}

.cart-page-row {
  display: flex;
}

.cart-page-payment-method {
  font-family: "Bree Serif", serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.payment-method-icon {
  height: 60px;
  width: 60px;
  margin: 5px 15px 5px 0;
}

.cart-page-item {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px) scale(0.9);
}

.tax-info {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;
  vertical-align: middle;
  
}

.tax-info svg {
  vertical-align: middle;
  margin-left: 2px;
  margin: 0;
}

.cart-page-delivery-options {
  padding-left: 15px;
  margin-top: 8px;
}

.cart-page-delivery-options label {
  font-size: 14px;
  line-height: 1;
}

.cart-page input[type="radio"] {
  display: inline-block;
}

.cart-page-delivery-options svg {
  vertical-align: middle;
  fill: var(--main-theme-color);
  margin: 0 2px;
}

.cart-page-empty {
  font-family: "Bree Serif", serif;
  margin-bottom: 50px;
}

.cart-page-empty h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart-page-empty-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: black;
  width: 200px;
  padding: 15px 50px 15px 20px;
  border: 2px solid black;
  transition: all 0.3s ease;
  text-align: left;
  margin-top: 40px;
}

.cart-page-empty-btn button {
  font-size: 0.9rem;
  font-family: "Bree Serif", serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cart-page-empty-btn .cart-page-empty-btn-arrow {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  transition: all 0.3s ease;
  line-height: 1;
}

.cart-page-empty-btn:hover {
  background-color: white;
}

.cart-page-empty-btn:hover button {
  color: black;
}

.cart-page-empty-btn:hover .cart-page-empty-btn-arrow {
  color: black;
  right: 25px;
}

/* Checkout */

.checkout-page-main {
  font-family: "Bree Serif", serif;
}

.checkout-page-main h1 {
  text-transform: uppercase;
}

.m-r-10 {
  margin-right: 10px;
}

.checkout-page-main h1,
.checkout-page-main p {
  text-align: center !important;
}

.checkout-page {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.checkout-page-left {
  width: 65%;
}

.checkout-page-right {
  margin-left: 15%;
  width: 35%;
}

.checkout-page-left h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 19px;
}

.billing-form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.billing-form-group {
  flex: 1;
  margin-bottom: 30px;
}

.billing-form-group-full {
  margin-bottom: 30px;
}

.checkout-page-left label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.checkout-page-left input:focus {
  border-color: #333;
  outline: none;
}

.checkout-page-left small {
  display: block;
  margin: 5px 0 0 20px;
  font-size: 12px;
  color: #777;
}

/* Floating Text [Form] */

.entryarea {
  position: relative;
  height: 50px;
  line-height: 50px;
}

.entryarea input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-family: "Bree Serif", serif;
  border: 1px solid #ccc;
  background-color: #00000000;
  box-sizing: border-box;
  position: absolute;
  z-index: 1111;
  transition: 0.1s ease;
}

.labelline {
  position: absolute;
  font-size: 15px;
  color: var(--form-placeholder-color);
  background-color: var(--pg-main-color1);
  margin: 0 20px;
  transition: 0.2s ease;
}

.entryarea input:focus + .labelline,
.entryarea input.has-value + .labelline {
  color: var(--form-placeholder-color);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px,-16px) scale(0.88);
  z-index: 1111;
}

.billing-form-group-full small {
  display: block;
  margin: 5px 0 0 20px;
  font-size: 12px;
  color: #777;
}

.billing-details-form small {
  color: #777;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.entryarea input.error {
  border-bottom: 2px solid var(--error-color);
}

.error-text-color {
  color: var(--error-color) !important;
}

@media (max-width: 768px) {
  .billing-form-row {
      flex-direction: column;
  }
}

.form-group-checkbox .custom-checkbox-label {
  font-size: 15px;
}

.checkout-page-section-divider {
  width: 100%;
  border-top: 1px solid #d7d7d7;
  margin: 40px 0;
}

.checkout-page-shipping-container {
  border: 1px solid #00000026;
  margin-bottom: 10px;
  padding: 5% 4%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: border-color 0.2s;
}

.checkout-page-shipping-container:hover {
  border: 1px solid #000;
}

.checkout-page-shipping-option p,
.checkout-page-payment-card p {
  text-align: left !important;
  color: #000;
}

.checkout-page-shipping-option p:first-child {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1;
}

.checkout-page-shipping-option p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 5px;
}

.checkout-page-shipping-option p:nth-child(3) {
  font-size: 14px;
  color: #0c0c0c;
}

.checkout-page-shipping-container svg {
  fill: var(--main-theme-color);
}

.checkout-page-payment-container {
  border: 1px solid #00000026;
  margin-bottom: 15px;
  padding: 4% 4%;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.2s;
}

.checkout-page-payment-card p {
  font-size: 15px;
}

.checkout-page-payment-row {
  display: flex;
  justify-content: space-between;
}

.checkout-page-payment-svg {
  height: 20px;
  width: 40px;
}

.paypal-svg {
  height: 20px;
  width: 60px;
}

.checkout-page-payment-images {
  display:flex;
}

.checkout-page-payment-container:hover {
  border: 1px solid #000;
}

.checkout-page-shipping-option-section p {
  color: #000;
  text-align: left !important;
}

.checkout-page-shipping-option-container {
  border: 1px solid #00000026;
  margin-bottom: 10px;
  padding: 4% 4%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.2s;
}

.checkout-page-shipping-container.selected,
.selected {
  border-color: #000000;
  background-color: #f8f8f878;
  border-bottom: 3px solid #000000;
}

.disabled-container {
  opacity: 0.6;
  background-color: #f5f5f5;
}

.checkout-page-shipping-option-icon svg {
  fill: var(--main-theme-color);
}

.checkout-page-shipping-option-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkout-page-shipping-option-text p:first-child {
  font-size: 15px;
}

.checkout-page-shipping-option-text p:nth-child(2) {
  font-size: 14px;
  color: #101010;
}

.checkout-page-shipping-option-container:hover {
  border: 1px solid #000;
}

.place-order {
  margin-top: 50px;
}

.placeOrder-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: black;
  width: 30%;
  padding: 15px 50px 15px 20px;
  border: 2px solid black;
  transition: all 0.3s ease;
  text-align: left;
  margin-bottom: 60px;
}

.placeOrder-btn button {
  font-size: 0.9rem;
  font-family: "Bree Serif", serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.placeOrder-btn .placeOrder-arrow {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  transition: all 0.3s ease;
  line-height: 1;
}

.placeOrder-btn:hover {
  background-color: white;
}

.placeOrder-btn:hover button {
  color: black;
}

.placeOrder-btn:hover .placeOrder-arrow {
  color: black;
  right: 25px;
}

.tippy-box {
  text-align: left !important;
}

.checkout-page-item {
  display: flex;
  border: 1px solid #d7d7d7;
  margin-bottom: 40px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}

.checkout-page-item-image {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-page-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  position: relative;
  display: block;
}

.checkout-page-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 1.5% 2% 3%;
  overflow: hidden;
}

.checkout-page-item-details p {
  text-align: left !important;
}

.checkout-page-item-details-top {
  display: flex;
  justify-content: space-between;
}

.checkout-page-item-title {
  align-items: left;
}

.checkout-page-item-title p {
  margin-bottom: 4px;
  font-size: 15px;
  font-family: "Bree Serif", serif;
  font-weight: lighter;
  color: #000;
}

.checkout-page-item-title p:nth-child(2) {
  margin-bottom: 15px;
}

.checkout-page .checkout-page-item-quantity {
  font-size: 14px;
  font-family: "Bree Serif", serif;
  color: #0a0a0a;
  margin: 5px 0;
  text-align: left !important;
}

.checkout-page-item-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-group-checkbox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.custom-checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #333;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-checkbox:checked + .custom-checkbox-label::before {
  background-color: black;
  box-shadow: inset 0 0 0 3px white;
}


.schedule-popup {
  width: 44em;
  display: flex;
  color: #000;
  font-family: "Bree Serif", serif;
  flex-direction: column;
}

.select-date {
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 20px;
}

.schedule-popup .select-time-container {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 500px;
  padding: 0 0 10px 0;
  scrollbar-width: thin;
  scrollbar-color: #707070 transparent;
}

.schedule-popup .select-time-container::-webkit-scrollbar {
  width: 8px;
}

.schedule-popup .select-time-container::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  border-radius: 10px;
}

.schedule-popup .select-time-container::-webkit-scrollbar-track {
  background: transparent;
}

.schedule-popup .swal2-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.schedule-popup h4 {
  text-transform: uppercase;
}

.select-time-section h4 {
  margin: 20px 0 20px 0;
}

.schedule-popup .swal2-confirm {
  background-color: #4CAF50;
  color: #fff;
}

.schedule-popup .date-option {
  display: inline-block;
  padding: 15px;
  width: 120px;
  height: 80px;
  margin-right: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #00000026;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.schedule-popup .date-option:hover {
  border: 1px solid #000000;
}

.schedule-popup .date-option.selected {
  border: 2px solid #000000;
  background-color: #f3f3f363;
}

.schedule-popup .time-options {
  display: flex;
  flex-wrap: wrap;
}

.schedule-popup .time-options .time-option {
  flex: 1 0 45%;
  margin: 5px;
}

.schedule-popup .time-options label {
  display: block;
  margin: 3px 0;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #00000026;
  cursor: pointer;
  transition: all 0.2s ease;
}

.schedule-popup .time-options label:hover {
  border: 1px solid #000000;
}

.schedule-popup .time-options input[type="radio"] {
  margin-right: 10px;
}

.schedule-popup .time-options label input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}
