/* ---------------------------- Dashboards ----------------------------- */

.addproducts-form-container {
  font-family: "Bree Serif", serif;
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  background-color: #f4f4f400;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addproducts-form-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#addproducts-form {
  display: flex;
  flex-direction: column;
}

#addproducts-form label {
  margin-bottom: 10px;
  color: #555;
}

#addproducts-form input,
#addproducts-form textarea,
#addproducts-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#addproducts-form input[type="file"] {
  margin-bottom: 20px;
}

#addproducts-form button {
  background-color: var(--main-theme-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addproducts-form button:hover {
  background-color: var(--button-hover-color);
}

.deleteproduct-form-container {
  font-family: "Bree Serif", serif;
  width: 50%;
  margin: 10px auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f400;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deleteproduct-form-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#deleteproduct-form {
  display: flex;
  flex-direction: column;
}

#deleteproduct-form label {
  margin-bottom: 10px;
  color: #555;
}

#deleteproduct-form input,
#deleteproduct-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#deleteproduct-form button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#deleteproduct-form button:hover {
  background-color: #c0392b;
}

.reservation-admin-container, .panel-contact-feedback-container, .reservation-panel-container {
  font-family: "Bree Serif", serif;
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-admin-container h1, .panel-contact-feedback-container h1, .reservation-panel-container h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.reservation-admin-container form {
  display: flex;
  flex-direction: column;
}

.reservation-admin-container div, .panel-contact-feedback-container div, .reservation-panel-container div {
  margin-bottom: 20px;
}

.reservation-admin-container button {
  background-color: var(--main-theme-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.reservation-admin-container button:hover {
  background-color: var(--button-hover-color);
}

.p-r-form-group {
  margin-bottom: 15px;
}

.p-r-form-group p {
  margin: 0;
  text-align: left;
}

.p-r-form-group label {
  display: block;
  margin-top: 10px;
  color: #333;
}

.p-r-form-group select {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.p-r-separate {
  border-bottom: 1px solid #ddd;
}

.panel-contact-feedback-container p, .reservation-panel-container p {
    text-align: left;
    color: black;
}
